
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
	<link rel="stylesheet" href="css/reposivo.css">
</head>
<body>
<div class="main">

		<header>
			<div>
				<div class="logo">
					<img src="img/logo.png">
				</div>
				<div class="tituloTela">
					<h1>Macro<strong>processos</strong></h1>
				</div>
			</div>
		</header>
		<section class="container">	
			<div class="content">
					
							
						<div class="tamb" onclick="window.location='index?id=1'">	
								
							<p><strong>Produção e Aquisição</strong> de conteúdos educativos</p>
						</div>
					
					
						<div class="tamb" onclick="window.location='index?id=2'">

							<p><strong>Distribuição</strong> de conteúdos educativos</p>
						</div>
						
											
					
						<div class="tamb" onclick="window.location='index?id=3'">

							<p><strong>Comunicação e mobilização</strong></p>
						</div>
											
					
						<div class="tamb" onclick="window.location='index?id=4'">
		
							<p><strong>Gestão</strong></p>
						</div>	

<!--
						teste bootstrap
			<div class="row">
				<div class="col-md-3">
					<h2 class="numeroTamb">1</h2>
					<p><strong>Produção e Aquisição</strong> de conteúdos educativos</p>
				</div>
				<div class="col-md-3">
					
							<h2 class="numeroTamb">2</h2>
							<p><strong>Distribuição</strong> de conteúdos educativos</p>
				</div>				
				<div class="col-md-3">
					<h2 class="numeroTamb">3</h2>
					<p><strong>Comunicação e mobilização</strong></p>
				</div>
				<div class="col-md-3">
					<h2 class="numeroTamb">4</h2>
					<p><strong>Gestão</strong></p>
				</div>									
			</div>

		</section>
		<footer>
			
		</footer>
-->

</body>
</html>