<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
    
    <link rel="stylesheet" type="text/css" href="css/indicadores.css"> 
</head>
	
<body>
	<div class="container" >
        <header> 
            
            <div id="accordion" class="main-menu">

                
                <h3>Macro Processo1</h3>
                <div>
                    <p>
                        Indicador1
                    </p>
                    <p>
                        Indicador2
                    </p>
                </div>
                    <h3>Macro Processo2</h3>
                <div>
                    <p>
                        Indicador1
                    </p>
                    <p>
                        Indicador2
                    </p>
                </div>
                <a href="#" class="nav-toggle-btn"><img src="img/mobile_menu.png"></a>
            </div>
            

                <h1>Indicadores e Metas</h1>
            </header>

        <div class="content">

            
            <h2>2015</h2>
            
            <section class="section progress">
                <h3>Progresso</h3>
                <progress class="progresso" value="4" max="5"></progress>
                <span class="exec">Execução 4</span><span class="conclu">80%</span>  
            </section>            
            
            <section class="section">
            	<h3>Area / Responsável</h3>
            	<p>
                Apoio à pesquisa e ao desenvolvimento
                </p>

                <p>
                    Allan
                </p>
            </section>
            
            
            <section class="section">
            	<h3>Meta</h3>
           		<p>5 Unid</p>
            </section>
                       


        </div>
		<footer>
                <div class="ano footer">
					<img src="img/calendar.png" alt="calendario" >
				</div>
                <div class="nav-ano">
                    <p><a href="#">2015</a></p>
                    <p><a href="#">2016</a></p>
                    <p><a href="#">2017</a></p>
                    <p><a href="#">2018</a></p>
                    <p><a href="#">2019</a></p>
                </div>

                <div class="historico footer">
					<img src="img/historico.png" alt="Histórico" >
				</div>      

                <div id="accordion-historico" class="nav-historico">
                
                    <h3>Usuário 1</h3>
                    <div>
                        <p>
                            mudança meta 400
                        </p>
                    </div>
                        <h3>Usuario 2</h3>
                    <div>
                        <p>
                             mudança meta 400
                        </p>
                    </div>

                        <h3>Usuario 3</h3>
                    <div>
                        <p>
                             mudança meta 400
                        </p>
                    </div>               
                </div>
                
                <div class="relatorio footer">
					<img src="img/relatorio.png" alt="Relatorio" >
				</div>

                <div class="nav-relatorio">
                    <h1>Em Construção!</h1>
                </div>
            </footer>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/js.js"></script>

</body>
</html>
